<section class="contact-header">
  <h2>Fale connosco</h2>
  <p>
    Adoramos partilhar o sabor dos nossos produtos e ouvir quem nos visita.<br />
    Envie-nos uma mensagem, ligue-nos ou passe pela nossa loja — será um prazer
    recebê-lo!<br />
    📍 E faça-nos também uma visita nos eventos populares desta nossa bonita
    região.
  </p>
</section>
<div class="contact-container">
  <div class="contact-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.4143693232536!2d-7.08725928325035!3d40.349774962185656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3daa0932c489a3%3A0x3e7ea6e042da32ce!2sMercado%20Municipal!5e1!3m2!1spt-PT!2spt!4v1762336839083!5m2!1spt-PT!2spt"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="contact-info">
    <ul class="contact-details">
      <li><i class="fa-solid fa-phone"></i> <span>+351 964 362 138</span></li>
      <li>
        <i class="fa-solid fa-envelope"></i>
        <span>leopoldinalele@hotmail.pt</span>
      </li>
      <li>
        <i class="fa-solid fa-location-dot"></i>
        <span>Avenida João Pereira, nº 8</span>
      </li>
      <li>
        <i class="fa-solid fa-store"></i>
        <span>Mercado Municipal do Sabugal</span>
      </li>
      <li>
        <i class="fa-solid fa-clock"></i>
        <span>Horário:</span>
      </li>
      <li class="schedule-line">
        <i class="fa-solid fa-fw"></i>
        <span
          >Seg. a Sex. — <strong>09h00</strong> às <strong>13h00</strong></span
        >
      </li>
      <li class="schedule-line">
        <i class="fa-solid fa-fw"></i>
        <span>Sábado — <strong>09h00</strong> às <strong>13h00</strong></span>
      </li>
      <li class="schedule-line">
        <i class="fa-solid fa-fw"></i>
        <span>Domingo — <strong>Encerrado</strong></span>
      </li>
      <li><i class="fa-solid fa-barcode"></i> <span>6320-499</span></li>
      <li><i class="fa-solid fa-house"></i> <span>Sabugal, Guarda</span></li>
      <li><i class="fa-solid fa-globe-europe"></i> <span>Portugal</span></li>
      <li>
        <i class="fa-solid fa-globe"></i>
        <span
          ><a
            href="https://www.empresa.pt"
            target="_blank"
            rel="noopener noreferrer"
            >www.leopoldina.pt</a
          ></span
        >
      </li>
    </ul>
    <div class="contact-wraper">
      <img src="../assets/logo.png" alt="Logo Padaria Leopoldina" />
    </div>
  </div>
</div>
