<footer class="footer">
  <div class="footer-overlay">
    <p class="footer-description">Tradição que se saboreia.</p>
    <p>© 2025 Leopoldina Website. Todos os direitos reservados.</p>

    <div class="social-icons">
      <a
        href="https://www.facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-facebook-f icon"></i>
      </a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-instagram icon"></i>
      </a>
    </div>
  </div>
</footer>
