.footer {
    text-align: center;
    background-color:#1C1C1C;
    padding: 25px 5%;
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    bottom: 0;
  }

  .social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 20px; /* Espaçamento entre os ícones */
  }
  
  .icon {
    color: #fff; /* Cor branca dos ícones */
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .icon:hover {
    color: #f70c0c; /* Cor no hover */
    transform: scale(1.2); /* Aumenta levemente o ícone */
  }