/* Estilos gerais do cabeçalho */
.header {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos do cabeçalho */
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%, /* Cor preta sólida nos primeiros 90% */
    rgba(0, 0, 0, 0) 100% /* Desbota para transparente nos últimos 10% */
  );
  padding: 10px 20px;
  position: sticky;
  top: 0; /* Faz o cabeçalho grudar no topo ao rolar */
  z-index: 1000;
  width: 100%;
  height: 90px;
  box-sizing: border-box; /* Garantir que padding e largura sejam consistentes */
  transition: transform 0.9s ease, opacity 0.6s ease;
}

/* Container do título alinhado à esquerda */
.title_container {
  max-width: fit-content;
  display: flex;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  flex: 1; /* O título ocupa o espaço necessário */
}

/* Estilo para os ícones alinhados à direita */
.icon_container {
  display: flex;
  align-items: center; /* Centraliza os ícones verticalmente */
  gap: 15px; /* Espaçamento entre os ícones */
  height: fit-content;
}

/* Cabeçalho visível */
.visible {
  transform: translateY(0); /* Cabeçalho visível */
}

/* Cabeçalho escondido */
.hidden {
  transform: translateY(-100%); /* Cabeçalho escondido */
  opacity: 0; /* Reduz a opacidade para suavizar o efeito */
}



.icon-button {
  background: none; /* Remove qualquer fundo */
  border: none; /* Remove a borda */
  padding: 10px; /* Espaçamento interno */
  margin: 5px; /* Espaçamento externo */
  cursor: pointer; /* Cursor de interação */
  color: #cecece; /* Cor inicial do ícone */
  transition: transform 0.3s, color 0.3s; /* Transições suaves */
  font-size: 32px; /* Tamanho inicial do ícone */
}

.icon-button:hover {
  color: #ffffff; /* Muda a cor ao passar o mouse */
  transform: scale(1.3); /* Aumenta o ícone levemente */
}

.icon-button:active {
  transform: scale(1.1); /* Diminui o "zoom" ao clicar */
}

.icon-button:focus {
  outline: none; /* Remove a borda de foco padrão */
}





/* Botão de menu (hamburguer) à direita */
.menu-toggle {
  background-color: blue;
  display: none; /* Inicialmente escondido, só aparece em telas pequenas */
  color: white;
  cursor: pointer;
}

/* Menu dropdown (aparece apenas quando isMenuOpen é true) */
.menu {
  display: flex;
  justify-content: flex-end;
}

/* Estilos para o menu dropdown */
.menu li {
  display: inline-block;
}


@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between; /* Espaço entre os elementos do cabeçalho */
    align-items: center;
  }

  .title_container {
    justify-content: flex-start; /* Título permanece à esquerda */
    flex: 1; /* Garante espaço para o menu_toggle à direita */
  }

  /* Exibe o botão de menu (hamburguer) */
  .menu-toggle {
    display: block;
  }

  .icon_container {
    display: none; /* Esconde os ícones no mobile */
  }

}


