/* MAIN CONTENT*/
.section {
    padding: 50px 5%;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section1 {
    background-color: 	#363636;
  }
  
  .section2 {
    background-color: #474747
  }
  
  .section3 {
    background-color: #363636;
  }