<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Padaria Leopoldina</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header class="header">
      <div class="title_container">
        <img src="/assets/santologo.png" alt="Logo Santo" class="santo-logo" />
        <img
          src="/assets/Titulologo.png"
          alt="Título Padaria Leopoldina"
          class="title-logo"
        />
      </div>

      <div class="icon_container">
        <button class="icon-button" data-section="home">
          <i class="fa-solid fa-house"></i>Home
        </button>
        <button class="icon-button" data-section="history">
          <i class="fa-solid fa-timeline"></i>A nossa jornada
        </button>
        <button class="icon-button" data-section="gallery">
          <i class="fa-solid fa-image"></i>Produtos
        </button>
        <button class="icon-button" data-section="contacts">
          <i class="fa-solid fa-phone"></i>Contactos
        </button>
      </div>

      <div class="menu-toggle">
        <button class="menu-button" aria-label="Menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </header>
  </body>
</html>
