<header class="header">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <div class="title_container">
    <h1 class="title">Leopoldina Lele</h1>
  </div>

  <div class="icon_container">
    <button class="icon-button" data-section="home">
      <i class="fa-solid fa-house"> Pagina Inicial</i>
    </button>
    <button class="icon-button" data-section="history">
      <i class="fa-solid fa-book"> Historia</i>
    </button>
    <button class="icon-button" data-section="gallery">
      <i class="fa-solid fa-image"> Galeria</i>
    </button>
    <button class="icon-button" data-section="contacts">
      <i class="fa-solid fa-phone"> Contactos</i>
    </button>
  </div>

  <div class="menu-toggle">
    <button class="menu-toggle" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
