/* Estilos globais */
body {
  background-color: #363636;
  margin: 0;
  font-family: Arial, sans-serif;
  color: aliceblue;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  .title {
    font-size: 20px;
  }

  .section {
    padding: 30px 10px;
  }

  .button {
    font-size: 14px;
    padding: 6px 10px;
  }

  .footer {
    padding: 15px 10px;
  }
}
