body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.menu-open main,
body.menu-open footer {
  filter: blur(6px);
  transition: filter 0.3s ease;
  pointer-events: none; /* impede cliques no fundo */
  user-select: none;
}

body.menu-open #home,
body.menu-open #history,
body.menu-open #gallery,
body.menu-open #contacts {
  filter: blur(6px);
}
